<div>
	<span class="red">账户设置</span>
	<div class="changetitle">修改密码</div>
	<div class="passwordBox">
		<div>
			<span class="title">旧密码：</span>
			<input type="password" name="" id="" placeholder="密码（6-16位字母，数字，无空格）" ng-model="oldpassword" maxlength="16" minlength="6">
		</div>
		<div>
			<span class="title">新密码：</span>
			<input type="password" name="" id="" placeholder="密码（6-16位字母，数字，无空格）" ng-model="newpassword" maxlength="16" minlength="6" ng-keyup="save()">
			<p class="save">安全级别：
				<span ng-class="{current:msg=='ruo'}">弱</span>
				<span ng-class="{current:msg=='zhong'}">中</span>
				<span ng-class="{current:msg=='qiang'}">强</span>
			</p>
		</div>
		<div>
			<span class="title">确认密码：</span>
			<input type="password" name="" id="" placeholder="请再次确认密码" ng-model="dblpassword" maxlength="16" minlength="6">
		</div>
		<button class="surechange" ng-click="changepassword()">修改</button>
	</div>
</div>