
<section class="footer">
	<div class="redbg tong ">
		<ul class="content firstul">
			<li>造型优化</li>
			<li>全线低价</li>
			<li>正品保障</li>
			<li>智能管理</li>
			<li>退换无忧</li>
		</ul>
	</div>
		<ul class="content secondul">
			<li><p>改善意见</p><span>info@zkh360.com</span></li>
			<li><p>传真号</p><span>（021）6836-9690</span></li>
			<li><p>客服电话</p><span>400-860-9696</span></li>
			<li><p>工作时间</p><span>周一至周五8:30～17:30</span></li>
		</ul>
	<p class="content re">Copyright © zkh360.com 1998 - 2016 Corporation All Reserved 沪ICP备10006078号-5　</p>
</section>
