<section class="account">
    <div class="content">
        <p class="left myaccount">我的账户---一只偷猫的鱼</p>
        <p class="right" >
            <a href="" class="current">全部产品分类</a>
            <a ng-href="{{'CommodityList.html?yiji='+$index}}" ng-repeat="item in items" ng-bind="item.Level1Name">办公日用清洁</a>
            <!-- <a href="CommodityList.html?yiji=1">办公日用清洁</a>
            <a href="CommodityList.html?yiji=2">生产辅料</a>
            <a href="CommodityList.html?yiji=3">五金电器配件</a>
            <a href="CommodityList.html?yiji=4">IT</a>
            <a href="CommodityList.html?yiji=5">劳保</a> -->
        </p>
    </div>
</section>