<div class="aside col-2 fl" asidecurrent id="aside">
    <dt>全部功能</dt>
    <dd>
        <ul class="nav">
            <li id="side-menu"mine"><a href="enquiryCar.html" data="" reload="true" id="_allmoney">我的询价篮<i class="icon-arr"></i></a></li>
        </ul>
    </dd>
    <dt>订单中心</dt>
    <dd>
        <ul class="nav clearfix">
            <li id="side-menu-invest"><a href="mine.html#/" data="" id="_insert">我的订单<i class="icon-arr"></i></a></li>
            <li id="side-menu-active"><a href="mine.html#/enquiry" data="">我的询价单<i class="icon-arr"></i></a></li>
           <!--  <li id="side-menu-transfer"><a href="mine.html#/logistics" data="">我的物流<i class="icon-arr"></i></a></li> -->
        </ul>
    </dd>
    <dt>账户设置</dt>
    <dd>
        <ul class="nav clearfix">
            <li id="side-menu-planner"><a href="mine.html#/changepassword" data="">修改密码<i class="icon-arr"></i></a></li>
            <li id="side-menu-redEnvelope"><a href="mine.html#/changemassage" data="">修改个人信息<i class="icon-arr"></i></a></li>
        </ul>
    </dd>
</div>